@import "tailwindcss";
@import "material-symbols/outlined.css";

@theme {
  --color-bg: light-dark(#ffffff, #0f1117);
  --color-surface: light-dark(#f1f4f6, #1a1d27);
  --color-text: light-dark(#6b6375, #9ca3af);
  --color-text-h: light-dark(#08060d, #f3f4f6);
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}
